:root {
  --color-bg-primary: #191b24;
  --color-text-primary: #ffffff;
  --color-text-secondary: #d3d3d3;
  --color-text-accent: #ffd875;
  --color-text-dark: #000000;
  --color-bg-secondary: #ffffff;
  --color-bg-hover: rgba(170, 170, 170, 1);
  --color-border-light: rgba(255, 255, 255, 0.19);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  width: 100%;
  padding: 120px 0;
}

/* Legal Section*/
.legal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.legal__container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px 16px 50px;
}

.legal__heading {
  margin-bottom: 19.2px;
}

.legal__title {
  color: var(--color-text-primary);
  font-size: 25.2px;
  font-weight: 600;
  line-height: 35.3px;
  text-align: left;
}

.legal__content {
  display: flex;
  flex-direction: column;
}

.legal__subtitle {
  color: var(--color-text-primary);
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  margin-bottom: 17px;
}

.legal__text {
  color: var(--color-text-secondary);
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  margin-bottom: 16px;
}

.legal__list {
  margin-bottom: 16px;
  padding-left: 32px;
  display: block;
  list-style-type: disc;
}

.legal__list-item {
  color: var(--color-text-secondary);
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
}

.legal__text--bold {
  font-weight: 600;
}

.legal__link {
  color: var(--color-text-primary);
}

.legal__link:hover {
  color: var(--color-text-accent);
}

/* Question List (FAQ Page)*/
.question-list {
  list-style: none;
  width: 560px;
  height: auto;
  border-radius: 16px;
  padding: 25px;
  border: 1px solid var(--color-border-light);
  margin: 32px 0;
}

.question-list__item {
  display: inline-block;
  color: var(--color-text-primary);
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 8px;
}

.question-list li:hover .question-list__item {
  color: var(--color-text-accent);
}

.legal__subtitle--accent {
  color: var(--color-text-accent);
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  margin-bottom: 17px;
}

/* Social Links (Contact Page)*/
.contact-social {
  width: 100%;
  margin-bottom: 8px;
}

.contact-social__link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-bg-secondary);
  padding: 12.2px 5.8px;
  border-radius: 4.8px;
}

.contact-social__link:hover {
  background-color: var(--color-bg-hover);
  border: 1px solid var(--color-bg-hover);
}

.contact-social__icon {
  font-size: 20px;
  margin-right: 8px;
  color: var(--color-text-dark);
}

.contact-social__text {
  color: var(--color-text-dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

/* Responsive*/
/* Mobile & Tablet (<=1100px)*/
@media only screen and (max-width: 1100px) {
  main {
    padding: 20px 0 50px 0;
  }

  .legal__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px 16px;
    width: 100%;
    margin: 0 auto;
  }

  .question-list {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 641px) {
  .legal__title {
    font-size: 22.4px;
    line-height: 31.36px;
  }

  .legal__list-item {
    font-size: 14px;
    line-height: 25.2px;
  }

  .legal__link {
    font-size: 14px;
    line-height: 25.2px;
  }

  .legal__subtitle {
    font-size: 16.8px;
    line-height: 25.2px;
    margin-bottom: 17px;
  }

  .legal__text {
    font-size: 14px;
    line-height: 25.2px;
    margin-bottom: 1rem;
  }
}
