<section class="admin-header">
  <div class="admin-header-container">
    <div class="admin-hamburger mobile">
      <div class="icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <a class="admin-logo" href="../pages/HomePage.html">
      <img src="../../public/assets/image/Screenshot 2025-10-13 121408-Photoroom.png" alt="UIT Film Logo" />
    </a>
    
    <div id="main_user" class="user_logged">
        <div class="user-dropdown-menu">
          <a class="header-user">
            <div class="line-center">
              <div class="user-avatar">
                <img src="../../public/assets/image/vn_flag.svg" />
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</section>

<div class="admin-menu-overlay"></div>