<!-- start-header -->
<section class="header">
  <div class="header-container container">
    <div class="mobile menu-toggle">
      <div class="icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <a class="header-logo" href="../../view/pages/HomePage.html">
      <img
        src="../../public/assets/image/Screenshot 2025-10-13 121408-Photoroom.png"
        alt=""
      />
    </a>
    <div class="mobile search-toggle">
      <div class="icon-search">
        <span></span>
        <span></span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="search">
      <div class="search-box">
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input
          class="search-input"
          data-i18n-placeholder="header.search"
          placeholder="Tìm kiếm phim, diễn viên"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="search-group">
      <div id="main_menu" class="menu">
        <div class="menu-film-type">
          <a title="Bộ lọc" href="../pages/Danhsach.html?type=all" data-i18n="header.filter">Bộ lọc</a>
        </div>
        <div class="menu-film-type">
          <a title="Phim lẻ" href="../pages/Danhsach.html?type=movie" data-i18n="header.movie">Phim lẻ</a>
        </div>
        <div class="menu-film-type">
          <a title="Phim bộ" href="../pages/Danhsach.html?type=tv" data-i18n="header.tv">Phim bộ</a>
        </div>
        <div class="menu-film-type dropdown">
          <a class="dropdown-toggle" title="Quốc gia">
            <span data-i18n="header.country">Quốc gia</span>
            <i class="fa-solid fa-caret-down ms-2"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="../pages/Danhsach.html?type=all&country=US" data-i18n="country.us">Mỹ</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=JP" data-i18n="country.jp">Nhật Bản</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=KR" data-i18n="country.kr">Hàn Quốc</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=CN" data-i18n="country.cn">Trung Quốc</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=GB" data-i18n="country.gb">Anh</a></li>
          </ul>
        </div>
        <div class="menu-film-type">
          <a title="Tình cảm" href="../pages/Danhsach.html?type=movie&genre=10749" data-i18n="header.romance">Tình cảm</a>
        </div>
        <div class="menu-film-type">
          <a title="Kinh dị" href="../pages/Danhsach.html?type=movie&genre=27" data-i18n="header.horror">Kinh dị</a>
        </div>
        <div class="menu-film-type">
          <a title="Hành động" href="../pages/Danhsach.html?type=movie&genre=28" data-i18n="header.action">Hành động</a>
        </div>
        <div class="menu-film-type">
          <a title="Hài" href="../pages/Danhsach.html?type=all&genre=35" data-i18n="header.comedy">Hài</a>
        </div>
        <div class="menu-film-type">
          <a title="Gia đình" href="../pages/Danhsach.html?type=all&genre=10751" data-i18n="header.family">Gia đình</a>
        </div>
      </div>
      <div class="app-download"></div>
      
      <div class="header-button">
        <!-- Language Switcher -->
        <div class="language-switcher">
          <button class="swap-language" aria-haspopup="listbox" aria-expanded="false">
            <i class="fa-solid fa-globe"></i>
            <span class="current-lang-label">Vietnamese</span>
            <i class="fa-solid fa-caret-down caret"></i>
          </button>

          <ul class="select-language" role="listbox">
            <li role="option" data-lang="vi" class="lang-option is-active">Vietnamese</li>
            <li role="option" data-lang="en" class="lang-option">English</li>
          </ul>
        </div>

        <!-- User Guest -->
        <div id="user_guest" class="user">
          <a id="btn-member" class="button-user button-login">
            <i class="fa-solid fa-user ms-1"></i>
            <span data-i18n="header.member">Thành viên</span>
          </a>
        </div>
      </div>

      <!-- User Logged In -->
      <div id="main_user" class="user_logged hidden">
        <div class="user-dropdown-menu">
          <a class="header-user">
            <div class="line-center">
              <div class="user-avatar">
                <img src="../../public/assets/image/vn_flag.svg" />
              </div>
              <i class="fa-solid fa-caret-down"></i>
            </div>
          </a>
          <ul class="dropdown-list">
            <div class="dropdown-header">
              <div class="user-name line-center">
                <span>Trịnh Trần Phương Tuấn</span>
              </div>
            </div>
            <hr />
            <div class="ui-mobile">
              <a class="dropdown-item" href="../pages/UserDetail.html">
                <div class="line-center">
                  <i class="fa-solid fa-user"></i>
                  <span data-i18n="header.account">Tài khoản</span>
                </div>
              </a>
              <hr />
              <a id="Log-out-Btn" class="dropdown-item" href="#">
                <div class="line-center">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span data-i18n="header.logout">Đăng xuất</span>
                </div>
              </a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>