<!-- start-header -->
<section class="header">
  <div class="header-container container">
    <div class="mobile menu-toggle">
      <div class="icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <a class="header-logo" href="#">
      <img
        src="../../public/assets/image/Screenshot 2025-10-13 121408-Photoroom.png"
        alt=""
      />
    </a>
    <div class="mobile search-toggle">
      <div class="icon-search">
        <span></span>
        <span></span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="search">
      <div class="search-box">
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input
          class="search-input"
          placeholder="Tìm kiếm phim,diễn viên"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="search-group">
      <div id="main_menu" class="menu">
        <div class="menu-film-type">
          <a title="Bộ lọc" href="#">Bộ lọc</a>
        </div>
        <div class="menu-film-type">
          <a title="Phim lẻ" href="#">Phim lẻ</a>
        </div>
        <div class="menu-film-type">
          <a title="Phim bộ" href="#">Phim bộ</a>
        </div>
        <div class="menu-film-type dropdown">
          <a class="dropdown-toggle" title="Quốc gia"
            >Quốc gia<i class="fa-solid fa-caret-down ms-2"></i
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Mỹ</a></li>
            <li><a href="#">Nhật Bản</a></li>
            <li><a href="#">Hàn Quốc</a></li>
            <li><a href="#">Trung Quốc</a></li>
            <li><a href="#">Anh</a></li>
          </ul>
        </div>
        <div class="menu-film-type">
          <a title="Tình cảm" href="#">Tình cảm</a>
        </div>
        <div class="menu-film-type">
          <a title="Kinh dị" href="#">Kinh dị</a>
        </div>
        <div class="menu-film-type">
          <a title="Hành động" href="#">Hành động</a>
        </div>
        <div class="menu-film-type">
          <a title="Hài" href="#">Hài</a>
        </div>
        <div class="menu-film-type">
          <a title="Thiếu nhi" href="#">Gia đình</a>
        </div>
      </div>
      <div class="app-download"></div>
      <div id="main_user" class="user">
        <a class="button-user button-login" href="">
          <i class="fa-solid fa-user ms-1"></i>
          <span>Thành viên</span>
        </a>
      </div>
    </div>
  </div>
</section>
