<!-- components/MovieGrid.html -->
<div id="movie-grid"></div>

<section class="section">
  <div class="header-grid">
    <h2 class="title">Phim Điện Ảnh Mới ng</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridNew"></div>
  </div>
</section>

<section class="section">
  <div class="header-grid">
    <h2 class="title">Series Phim Xu Hướng</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridHot"></div>
  </div>
</section>

<section class="section">
  <div class="header-grid">
    <h2 class="title">Phim Điện Ảnh Được Đánh Giá Cao</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridHighRate"></div>
  </div>
</section>

<section class="section">
  <div class="header-grid">
    <h2 class="title">Phim Bộ Đình Đám</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridHotHit"></div>
  </div>
</section>
