<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <<<<<<< HEAD
    <link rel="stylesheet" href="../../Style/MovieCard.css" alt="" />
  </head>
  <body>
    <div class="background">
      <div class="movie-box">
        <a class="movie-card" href="#">
          <div class="card-info-top">
            <div class="card-info-ep-top">
              <span>TV Show</span>
            </div>
          </div>
          <div class="card-info-bot">
            <div class="card-info-ep-bot">
              <span>PĐ.<strong>10</strong></span>
            </div>
          </div>
          <div>
            <img
              src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp"
              alt=""
            />
          </div>
        </a>
        <div class="info">
          <h4 class="vietnam-title">
            <a title="Đột Kích Đài Truyền Hình" href="#"
              >Kẻ lừa đảo vĩ đại: razbliuto</a
            >
          </h4>
          <h4 class="other-title">
            <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
          </h4>
        </div>
      </div>
    </div>
  </body>
</html>
