<footer class="footer">
  <div class="footer-container container">
    <div class="footer-elements">
      <div class="side-left">
        <div class="intro-logo">
          <div class="logo-vn">
            <img alt="Vietnam" src="../../../public/assets/image/vn_flag.svg" />
          </div>
          <span>Hoàng Sa & Trường Sa là của Việt Nam!</span>
        </div>
        <div class="main-logo">
          <a class="footer-logo" href="#">
            <img
              src="../../../public/assets/image/Screenshot 2025-10-13 121408-Photoroom.png"
              alt=""
            />
          </a>
          <div class="social-links">
            <a href="#" class="social-link"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.tiktok.com/@dareampi" class="social-link"
              ><i class="bx bxl-tiktok"></i
            ></a>
            <a href="https://github.com/Tuong1308" class="social-link"
              ><i class="bx bxl-github"></i
            ></a>
            <a href="https://www.instagram.com/_dttuowng/" class="social-link"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="#" class="social-link"><i class="bx bxl-youtube"></i></a>
            <a href="#" class="social-link"><i class="bx bxl-discord"></i></a>
            <a href="#" class="social-link"><i class="bx bxl-twitter"></i></a>
          </div>
        </div>
        <div class="footer-menu">
          <a title="Hỏi-Đáp" href="../pages/FAQ.html">Hỏi-Đáp</a>
          <a title="Chính sách bảo mật" href="../pages/PrivacyPolicy.html"
            >Chính sách bảo mật</a
          >
          <a title="Điều khoản" href="../pages/TermsOfService.html"
            >Điều khoản</a
          >
          <a title="Giới thiệu" href="../pages/AboutUs.html">Giới thiệu</a>
          <a title="Liên hệ" href="../pages/Contact.html">Liên hệ</a>
        </div>
        <div class="notice">
          UIT Film - Trang xem phim online chất lượng cao miễn phí Vietsub,
          thuyết minh, lồng tiếng full HD. Kho phim mới khổng lồ, phim chiếu
          rạp, phim bộ, phim lẻ từ nhiều quốc gia như Việt Nam, Hàn Quốc, Trung
          Quốc, Thái Lan, Nhật Bản, Âu Mỹ… đa dạng thể loại. Khám phá nền tảng
          phim trực tuyến hay nhất 2024 chất lượng 4K!
        </div>
        <div class="end-site-notice">© 2025 UIT Film. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>
