<!-- components/MovieGrid.html -->
<div id="movie-grid"></div>

<section class="section">
  <div class="header-grid">
    <h2 class="title" data-i18n="grid.newMovies">Phim Điện Ảnh Mới Coóng</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridNew"></div>
  </div>
</section>

<section class="section">
  <div class="header-grid">
    <h2 class="title" data-i18n="grid.trendingSeries">Series Phim Xu Hướng</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridHot"></div>
  </div>
</section>

<section class="section">
  <div class="header-grid">
    <h2 class="title" data-i18n="grid.topRatedMovies">Phim Điện Ảnh Được Đánh Giá Cao</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridHighRate"></div>
  </div>
</section>

<section class="section">
  <div class="header-grid">
    <h2 class="title" data-i18n="grid.popularSeries">Phim Bộ Đình Đám</h2>
  </div>
  <div class="grid-wrap">
    <div class="grid" id="movieGridHotHit"></div>
  </div>
</section>
