<div class="movie-box">
  <a class="movie-card" href="./TvShowDetail.html?id={{id}}">
    <div class="card-info-top">
      <div class="card-info-ep-top"><span>TV Show</span></div>
    </div>
    <div>
      <img src="{{poster}}" alt="{{name}}" />
    </div>
  </a>
  <div class="info">
    <h4 class="vietnam-title">
      <a href="./TvShowDetail.html?id={{id}}">{{title}}</a>
    </h4>
    <h4 class="other-title">
      <a href="./TvShowDetail.html?id={{id}}">{{original_title}}</a>
    </h4>
  </div>
</div>
