*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.background{
    display: flex;
    background-color: grey;
    justify-content: left;
    padding-top: 30px;
    
}

.movie-box{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.movie-card .card-info-top{
    position: absolute;
    /* width: fit-content; */
    top: 0;
    right: 0;
    z-index: 3; 
    overflow: hidden;
    box-shadow: 0 0 5px 2px #0000001a;
}

.card-info-top .card-info-ep-top{
    gap: 3.5px;
    padding: 5px 8px;
    font-size: 11px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
}


/* .movie-card .card-info-bot{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #0000001a;
}

.card-info-bot .card-info-ep-bot{
    flex: 1 1;
    gap: 3.5px;
    justify-content: center;
    padding: 3.5px 8px;
    font-size: 11px;
    font-weight: 400;
    background-color: #5e6070;
    color: #fff;
} */

.movie-card{
    width: 100%;
    padding-bottom: 150%;
    height: 0;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    display: block;
    background-color: var(--bg-3);
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 2px #0000001a;
}

.movie-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;

}

.movie-card:hover{
    transform: translateY(-5%);
}

.movie-box .info{
    min-height: 42px;
    text-align: center;
}

.vietnam-title a{
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.other-title{
    font-size: 13px;
    margin-top: 5px;
}

.other-title a{
    color: #aaa;
}


@media only screen and (max-width: 600px){
.movie-card img{
    width: 175px;
    height: 263px;

}

.movie-box {
    width: 160px; /* nhỏ lại nhẹ để không bị tràn */
  }

  .movie-card {
    width: 100%;
    height: 240px; /* khung cố định */
    padding-bottom: 0; /* bỏ tỉ lệ 150% cũ */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  .movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-info-top {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 3;
  }

  .card-info-top .card-info-ep-top {
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 4px;
  }
}