<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lien He</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Services/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../../Style/HeaderAndFooter.css">
    <link rel="stylesheet" href="../../Style/LegalPages.css">

</head>
<body>
    <!-- start-header -->
    <div id="header"></div>

    <script type="module">
        import { headerjs } from '../../js/header.js';

        fetch('../components/header.html')
            .then(res => res.text())
            .then(html => {
            document.getElementById('header').innerHTML = html;
            headerjs(); // Gọi sau khi header đã render xong
            })
            .catch(error => {
            console.error('Fetch header failed:', error);
            });
    </script>
    <!-- end-header -->
    <main>
        <section class="legal_section">
                <div class="legal_container">
                    <div class="row_heading">
                        <h1>Liên hệ</h1>
                    </div>
                    <div class ="row_content">
                        <p>Chào mừng bạn đến với trang Liên Hệ của UIT FILM! Chúng tôi luôn sẵn sàng lắng nghe và hỗ trợ bạn để mang lại trải nghiệm tốt nhất khi sử dụng dịch vụ. 
                        Nếu có bất kỳ câu hỏi, góp ý, hoặc yêu cầu hỗ trợ nào, hãy liên hệ với chúng tôi qua các thông tin dưới đây.</p>
                        <p>&nbsp;</p>
                        <h2>1. Thông Tin Liên Hệ Chính</h2>
                        <p>Email hỗ trợ khách hàng: <a href="mailto:23521749@gm.uit.edu.vn"><b>lienhe@uitfilm.com</b></a></p>
                        <ul>
                            <li><b>Vấn đề tài khoản:</b> Quên mật khẩu, không thể truy cập, và các vấn đề liên quan đến tài khoản.</li>
                            <li><b>Hỗ trợ kỹ thuật:</b> Sự cố khi xem phim, chất lượng video hoặc các lỗi khác khi sử dụng trang web.</li>
                            <li><b>Đóng góp ý kiến:</b> Chúng tôi trân trọng mọi ý kiến đóng góp từ bạn để nâng cao chất lượng dịch vụ.</li>
                        </ul>
                        <p>Email liên hệ về Chính Sách Riêng Tư: <a href="mailto:23521749@gm.uit.edu.vn"><b>lienhe@uitfilm.com</p>
                        <p>Mọi thắc mắc liên quan đến bảo mật thông tin và chính sách riêng tư của UIT FILM.</p>
                        <p>&nbsp;</p>
                        <h2>2. Liên Hệ Qua Mạng Xã Hội</h2>
                        <p>Ngoài email, bạn cũng có thể liên hệ và cập nhật thông tin mới nhất từ UIT FILM qua các kênh mạng xã hội của chúng tôi:</p>
                        <div class = "contact-social-link_content">
                            <a href="https://www.instagram.com/_dttuowng/" class="social-link"><i class='bx bxl-telegram'></i><p>Telegram: https://t.me/congdonguitfilm </p></a>
                        </div>
                        <div class = "contact-social-link_content">
                            <a href="https://www.instagram.com/_dttuowng/" class="social-link"><i class='bx bxl-discord'></i><p>Discord: https://www.discord.gg/uitfilmtv/ </p></a>
                        </div>
                        <div class = "contact-social-link_content">
                            <a href="https://www.instagram.com/_dttuowng/" class="social-link"><i class='bx bxl-facebook'></i><p>Facebook: https://www.facebook.com/uitfilmtv/ </p></a>
                        </div>
                        <div class = "contact-social-link_content">
                            <a href="https://www.instagram.com/_dttuowng/" class="social-link"><i class='bx bxl-instagram'></i><p>instagram: https://www.instagram.com/uitfilmtv/ </p></a>
                        </div>
                        <div class = "contact-social-link_content">
                            <a href="https://www.instagram.com/_dttuowng/" class="social-link"><i class='bx bxl-twitter'></i><p>X: https://www.x.com/uitfilmtv/ </p></a>
                        </div>
                        <p>&nbsp;</p>
                        <h2>3. Câu Hỏi Thường Gặp (F.A.Q)</h2>
                        <p>Trước khi gửi yêu cầu hỗ trợ, bạn có thể tham khảo trang <a href="../../view/pages/FAQ.html"><b>Hỏi Thường Gặp (F.A.Q)</b></a> để tìm câu trả lời nhanh cho các vấn đề phổ biến nhất tại <b>F.A.Q - UIT FILM.</b></p>
                        <p>Chúng tôi rất vui khi được hỗ trợ bạn và mong muốn mang đến trải nghiệm xem phim trực tuyến tốt nhất! 
                        <b>UIT FILM - Cùng bạn khám phá thế giới giải trí đa dạng, an toàn và miễn phí!</b></p>
                        <p>&nbsp;</p>
                    </div>
                </div>
        </section>
    </main>

    <!-- start-footer -->
    <div id="footer"></div>

    <script type="module">
        fetch('../components/footer.html')
            .then(res => res.text())
            .then(html => {
            document.getElementById('footer').innerHTML = html;
            })
            .catch(error => {
            console.error('Fetch footer failed:', error);
            });
    </script>
    <!-- end-footer -->
    
</body>
</html>