<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rophim</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../../public/style/Home/header-footer.css">
    <link rel="stylesheet" href="./style/Home/mobile.css">
    <link rel="stylesheet" href="./style/Home/tablet.css">
    <link rel="stylesheet" href="../../Services/reset.css">
</head>
<body>
    <!-- start-header -->
     <div id="header"></div>

    <script type="module">
        import { headerjs } from '../../public/js/script.js';

        fetch('../components/header.html')
            .then(res => res.text())
            .then(html => {
            document.getElementById('header').innerHTML = html;
            headerjs(); // Gọi sau khi header đã render xong
            })
            .catch(error => {
            console.error('Fetch header failed:', error);
            });
    </script>
  
        
    <!-- end-header -->
    <!-- start-footer -->
    <div id="footer"></div>

    <script type="module">
        fetch('../components/footer.html')
            .then(res => res.text())
            .then(html => {
            document.getElementById('footer').innerHTML = html;
            })
            .catch(error => {
            console.error('Fetch footer failed:', error);
            });
    </script>
    <!-- end-footer -->
</body>
</html>