<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../Style/HeaderAndFooter.css"/>
    <link rel="stylesheet" href="../../Services/reset.css"/>
    <link rel="stylesheet" href="../../Style/PhimBo.css">
    <script src="../../js/PhimBo.js" defer></script>
</head>

<body>
    <!-- Start header -->
    <header id="header"></header>
    <!-- End header -->

    <script type="module">
      import { headerjs } from "../../js/Header.js";

      fetch("../components/Header.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("header").innerHTML = html;
          headerjs(); // Gọi sau khi header đã render xong
        })
        .catch((error) => {
          console.error("Fetch header failed:", error);
        });
    </script>

    <!-- Main -->
    <main class="main">
      <!-- name -->
      <div class="main__header">
        <h3 class="main__title">Phim bộ</h3>
      </div>

      <!-- filter -->
      <div class="main__filter">
        <div class="filter__toggle">
          <i class="fa-solid fa-filter"></i>
          <span>Bộ lọc</span>
        </div>

        <!-- filter active -->
        <div class="filter__select hidden">
          <!-- Quốc gia -->
          <div class="filter__select-nav">
            <div class="filter__select-name">Quốc gia:</div>
            <div class="filter__select-list country">
              <div class="filter__select-list-item filter__select--active all">Tất cả</div>
              <div class="filter__select-list-item">Anh</div>
              <div class="filter__select-list-item">Canada</div>
              <div class="filter__select-list-item">Hàn Quốc</div>
              <div class="filter__select-list-item">Hồng Kông</div>
              <div class="filter__select-list-item">Mỹ</div>
              <div class="filter__select-list-item">Nhật Bản</div>
              <div class="filter__select-list-item">Pháp</div>
              <div class="filter__select-list-item">Thái Lan</div>
              <div class="filter__select-list-item">Trung Quốc</div>
              <div class="filter__select-list-item">Úc</div>
              <div class="filter__select-list-item">Đài Loan</div>
              <div class="filter__select-list-item">Đức</div>
            </div>
          </div>

          <!-- Loại phim -->
          <div class="filter__select-nav">
            <div class="filter__select-name">Loại phim:</div>
            <div class="filter__select-list movie-type">
              <div class="filter__select-list-item">Tất cả</div>
              <div class="filter__select-list-item">Phim lẻ</div>
              <div class="filter__select-list-item filter__select--active">Phim bộ</div>
            </div>
          </div>

          <!-- Thể loại -->
          <div class="filter__select-nav">
            <div class="filter__select-name">Thể loại:</div>
            <div class="filter__select-list movie-genre">
              <div class="filter__select-list-item filter__select--active all">Tất cả</div>
              <div class="filter__select-list-item">Anime</div>
              <div class="filter__select-list-item">Bí Ẩn</div>
              <div class="filter__select-list-item">Chiến Tranh</div>
              <div class="filter__select-list-item">Chiếu Rạp</div>
              <div class="filter__select-list-item">Chuyển Thể</div>
              <div class="filter__select-list-item">Chính Kịch</div>
              <div class="filter__select-list-item">Chính Luận</div>
              <div class="filter__select-list-item">Chính Trị</div>
              <div class="filter__select-list-item">Chương Trình Truyền Hình</div>
              <div class="filter__select-list-item">Cung Đấu</div>
              <div class="filter__select-list-item">Cuối Tuần</div>
              <div class="filter__select-list-item">Cách Mạng</div>
            </div>
          </div>

          <!-- Sắp xếp -->
          <div class="filter__select-nav">
            <div class="filter__select-name">Sắp xếp:</div>
            <div class="filter__select-list arrange">
              <div class="filter__select-list-item filter__select--active">Mới nhất</div>
              <div class="filter__select-list-item">Mới cập nhật</div>
              <div class="filter__select-list-item">Điểm IMDb</div>
              <div class="filter__select-list-item">Lượt xem</div>
            </div>
          </div>

          <!-- filter button -->
          <div class="filter__select-last-nav">
            <button class="filter__select-btn">
              <span>Lọc kết quả</span>
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button class="filter__close-btn">Đóng</button>
          </div>
        </div>
      </div>

      <!-- movie-list -->
       <div class="main__content">
        <!-- movie-item -->
        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>
        
        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>

        <div class="content__movie-item">
          <a href="MovieDetail.html" class="content__movie-avatar">
            <img src="https://www.shutterstock.com/image-photo/cute-side-moment-ledus-600nw-2345448513.jpg" alt="" class="movie-item-img">
          </a>

          <div class="content__movie-text">
            <a href="MovieDetail.html">
              <h4 class="movie-item-name">Hồi Hồn Kế Hồi Hồn Kế Hồi Hồn Kế</h4>
            </a>
            <a href="MovieDetail.html">
              <h4 class="movie-item-name-english">The Resurrected The Resurrected The Resurrected</h4>
            </a>
          </div>
        </div>
       </div>

      <!-- Phân trang -->
      <div class="content__pagination">
        <button class="pagination-left-arrow" disabled>
          <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="pagination__main">
          <span>Trang</span>
          <span class="pagination-page-current">1</span>
          <span>/ 111</span>
        </div>

        <button class="pagination-right-arrow">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </main>
    
    <!-- Start footer -->
    <footer id="footer"></footer>
    <!-- End footer -->

    <script type="module">
      fetch("../components/Footer.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("footer").innerHTML = html;
        })
        .catch((error) => {
          console.error("Fetch footer failed:", error);
        });
    </script>
</body>
</html>