<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rophim</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../../Style/HeaderAndFooter.css">
    <link rel="stylesheet" href="../../Style/MovieCard.css">
    <link rel="stylesheet" href="../../Services/reset.css">
    <link rel="stylesheet" href="../../Style/PhimBoDetail.css">
</head>
<body>
  <!-- Start header -->
  <header id="header"></header>
  <!-- End header -->

  <script type="module">
    import { headerjs } from "../../js/Header.js";

    fetch("../components/Header.html")
      .then((res) => res.text())
      .then((html) => {
        document.getElementById("header").innerHTML = html;
        headerjs(); // Gọi sau khi header đã render xong
      })
      .catch((error) => {
        console.error("Fetch header failed:", error);
      });
  </script>

  <!-- Main -->
  <main>
    <!-- Hero -->
    <div class="hero">
      <div class="hero__container">
        <div class="hero__container-left">
          <img src="https://static.nutscdn.com/vimg/300-0/ebff6b469acdd773f3a4d441a49c4aa9.jpg" alt="" class="movie-avatar">
        </div>

        <div class="hero__container-right">
          <h3 class="movie-name">Thế giới không lối thoát</h3>

          <div class="movie-genre">
            <div class="movie-genre-item">Chính kịch</div>
            <div class="movie-genre-item">Hành động</div>
            <div class="movie-genre-item">Bí ẩn</div>
            <div class="movie-genre-item">Tâm lý</div>
            <div class="movie-genre-item">Chuyển thể</div>
            <div class="movie-genre-item">Giả tưởng</div>
          </div>

          <div class="movie-rating">
            <div class="movie-rating-imdb"><span>IMDb</span>7.8</div>
            <div class="movie-rating-age">T18</div>
          </div>

          <div class="movie-btn">
            <div class="movie-btn-play">
              <i class="fa-solid fa-play"></i>
              <strong>Trailer</strong>
            </div>
            <div class="movie-btn-love">
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>

          <div class="movie-overview">
            <h4 class="movie-overview-title">Giới thiệu:</h4>
            <p class="movie-overview-text">Một game thủ lông bông cùng 2 người bạn nhận ra họ đã lọt vào thế giới Tokyo song song, nơi họ buộc phải thi đấu trong một loạt trò chơi tàn bạo để tồn tại.</p>
          </div>

          <div class="movie-director">
            <h4 class="movie-director-title">Đạo diễn:</h4>
            <span>Haro Aso</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Infomation -->
    <div class="movie-info">
      <h3 class="movie-info-title">Thông tin</h3>

      <div class="movie-info-item">
        <span>Thời lượng:</span> 56m
      </div>

      <div class="movie-info-item">
        <span>Quốc gia:</span> Nhật Bản
      </div>

      <div class="movie-info-item">
        <span>Sản xuất:</span> Robot Communications
      </div>
    </div>

    <!-- Actor -->
    <div class="movie-actor">
      <h3 class="movie-actor-title">Diễn viên</h3>

      <div class="movie-actor-list">
        <div class="movie-actor-item">
          <img src="https://image.tmdb.org/t/p/w500/nUWXgjDfRxFJ3P20lyMJr8qDIJ0.jpg" alt="" class="movie-actor-avatar">
  
          <p class="movie-actor-name">Kento Yamazaki</p>
        </div>
  
        <div class="movie-actor-item">
          <img src="https://image.tmdb.org/t/p/w500/n2665l3bguzDTm5CnyP99ipU9Z0.jpg" alt="" class="movie-actor-avatar">
  
          <p class="movie-actor-name">Tao Tsuchiya</p>
        </div>
  
        <div class="movie-actor-item">
          <img src="https://image.tmdb.org/t/p/w500/zF3la0KvayUV3uACYPiBgCRIQcI.jpg" alt="" class="movie-actor-avatar">
  
          <p class="movie-actor-name">Aya Asahina</p>
        </div>
      </div>

      <div class="movie-actor-showmore">
        <h3>Xem thêm</h3>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>

    <!-- Recommend -->
    <div class="movie-recommend">
      <h3 class="movie-recommend-title">Đề xuất</h3>

      <div class="movie-recommend-list">
        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>

        <div class="movie-box">
            <a class="movie-card" href="#">
                <div class="card-info-top">
                    <div class="card-info-ep-top">
                        <span>TV Show</span>
                    </div>
                </div>
                <div class="card-info-bot">
                    <div class="card-info-ep-bot">
                        <span>PĐ.<strong>10</strong></span>
                    </div>
                </div>
                <div>
                    <img src="https://static.nutscdn.com/vimg/300-0/75d38998e402135e325dc08779cee994.webp" alt="">
                </div>
            </a>
            <div class="info">
                <h4 class="vietnam-title">
                    <a title="Đột Kích Đài Truyền Hình" href="#">Kẻ lừa đảo vĩ đại: razbliuto</a>
                </h4>
                <h4 class="other-title">
                    <a title="Hoso Kyoku Senkyo" href="#">Great Pretender</a>
                </h4>
            </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Start footer -->
  <footer id="footer"></footer>
  <!-- End footer -->

  <script type="module">
    fetch("../components/Footer.html")
      .then((res) => res.text())
      .then((html) => {
        document.getElementById("footer").innerHTML = html;
      })
      .catch((error) => {
        console.error("Fetch footer failed:", error);
      });
  </script>
</body>
</html>