<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../Style/HeaderAndFooter.css"/>
    <link rel="stylesheet" href="../../Services/reset.css"/>
    <link rel="stylesheet" href="../../Style/PhimBo.css">
    <script src="../../js/PhimBoDetail.js" defer></script>
</head>

<body>
    <!-- Start header -->
    <header id="header"></header>
    <!-- End header -->

    <script type="module">
      import { headerjs } from "../../js/Header.js";

      fetch("../components/Header.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("header").innerHTML = html;
          headerjs(); // Gọi sau khi header đã render xong
        })
        .catch((error) => {
          console.error("Fetch header failed:", error);
        });
    </script>

    <main class="main">
        
    </main>

    <!-- Start footer -->
    <footer id="footer"></footer>
    <!-- End footer -->

    <script type="module">
      fetch("../components/Footer.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("footer").innerHTML = html;
        })
        .catch((error) => {
          console.error("Fetch footer failed:", error);
        });
    </script>
</body>