<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tài khoản — UITFilm</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../../Style/HeaderAndFooter.css" />
    <link rel="stylesheet" href="../../Services/reset.css" />
    <link rel="stylesheet" href="../../Style/UserDetail.css" />
  <body>
    <!-- start-header -->
    <div id="header"></div>

    <script type="module">
      import { headerjs } from "../../js/Header.js";

      fetch("../components/Header.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("header").innerHTML = html;
          headerjs(); // Gọi sau khi header đã render xong
        })
        .catch((error) => {
          console.error("Fetch header failed:", error);
        });
    </script>
    <!-- end-header -->

    <!-- main user detail -->
    <div id="userDetailMain"></div>
    <script>
      fetch("../components/UserDetailMain..html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("userDetailMain").innerHTML = html;
        })
        .catch((err) => console.error("UserDetailMain load error:", err));
    </script>
    <!-- End main user detail -->

    <script type="module" src="../../js/UserDetail.js"></script>
    <!-- start-footer -->
    <div id="footer"></div>

    <script type="module">
      fetch("../components/Footer.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("footer").innerHTML = html;
        })
        .catch((error) => {
          console.error("Fetch footer failed:", error);
        });
    </script>
    <!-- end-footer -->

  </body>
</html>
